<a href="https://colab.research.google.com/github/rohan-vr/lets-upgrade-ds101/blob/main/assignment-4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) How to import pandas and check the version?

In [3]:
import pandas as pd
print('Currrent version used is:',pd.__version__)

Currrent version used is: 1.1.4

2) How to create a series from a numpy array?

In [4]:
import numpy as np
import pandas as pd

arr = np.array([1,2,3,4,5])

series=pd.Series(arr)

print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

3) How to convert the index of a series into a column of a dataframe?

In [9]:
import numpy as np
import pandas as pd

# lets take the last used example
df=pd.DataFrame({'Nums':[1,2,3,4,5]})
df['index']=df.index # index returns the index of columns and we assign it as  a new column
print(df)

   Nums  index
0     1      0
1     2      1
2     3      2
3     4      3
4     5      4

4) Write the code to list all the datasets available in seaborn library.
Load the 'mpg' dataset

In [12]:
import seaborn as sb
print(sb.get_dataset_names())
dataset=sb.load_dataset('mpg')

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

5) Which country origin cars are a part of this dataset?

In [18]:
import seaborn as sb
dataset=sb.load_dataset('mpg')
print('Count of countries:', dataset['origin'].nunique())
print('Name of countries:', dataset['origin'].unique())

Count of countries: 3
Name of countries: ['usa' 'japan' 'europe']

6) Extract the part of the dataframe which contains cars belonging to 'usa'

In [22]:
import seaborn as sb
dataset=sb.load_dataset('mpg')
print(dataset[dataset['origin']=='usa'])

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]